<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="com.example.cameraexample" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="32"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@style/Theme.CameraExample" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:debuggable="true" android:testOnly="true" android:allowBackup="true" android:supportsRtl="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_rules" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="@string/app_name" android:dataExtractionRules="@xml/data_extraction_rules">
        <activity android:name="com.example.cameraexample.C1139m3" android:exported="false"/>
        <activity android:name="com.example.cameraexample.C1137m2" android:exported="false"/>
        <activity android:name="com.example.cameraexample.C1135m1" android:exported="false"/>
        <activity android:name="com.example.cameraexample.good" android:exported="false"/>
        <activity android:name="com.example.cameraexample.Guide2" android:exported="false"/>
        <activity android:name="com.example.cameraexample.LoadingActivity" android:exported="false"/>
        <activity android:name="com.example.cameraexample.Guide" android:exported="false"/>
        <activity android:name="com.example.cameraexample.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.example.cameraexample" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:theme="@style/Theme.Transparent.Permission" android:name="com.gun0912.tedpermission.TedPermissionActivity" android:screenOrientation="unspecified" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection|fontScale"/>
        <provider android:name="com.liulishuo.okdownload.OkDownloadProvider" android:exported="false" android:authorities="com.example.cameraexample.com.liulishuo.okdownload"/>
        <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.example.cameraexample.androidx-startup">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
    </application>
</manifest>
